[submodule "Nazel/ThirdParty/spdlog"]
	path = Nazel/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Nazel/ThirdParty/GLFW"]
	path = Nazel/ThirdParty/GLFW
	url = https://github.com/xbQAQ/glfw
[submodule "Nazel/ThirdParty/glm"]
	path = Nazel/ThirdParty/glm
	url = https://github.com/icaven/glm
[submodule "Nazel/ThirdParty/imgui"]
	path = Nazel/ThirdParty/imgui
	url = https://github.com/xbQAQ/imgui
