[submodule "Nazel/ThirdParty/spdlog"]
	path = Nazel/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Nazel/ThirdParty/GLFW"]
	path = Nazel/ThirdParty/GLFW
	url = https://github.com/xbQAQ/glfw
